* {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(58, 57, 57, 0.507)
}

#articles{
    margin-top: 30px;
}

.jumbotron, .card{
    box-shadow: 4px 4px 20px 1px rgba(41, 41, 41, 0.39)
}

.btn{
    box-shadow: 2px 2px 5px 1px rgba(42, 42, 42, 0.404)
}

#trash{
    color: rgb(251, 96, 96);
}