* {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 5px rgba(58, 57, 57, 0.335)
}

#articles,.jumbotron{
    margin-top: 30px;
}

#articles{
    margin-bottom: 30px;
}

.jumbotron, .card{
    box-shadow: 4px 4px 20px 5px rgba(47, 47, 47, 0.39);
    box-shadow: inset 0px 0px 30px 1px rgba(47, 47, 47, 0.39),2px 2px 10px 1px rgba(17, 17, 17, 0.637);

}

.btn{
    box-shadow: 4px 4px 6px 1px rgba(42, 42, 42, 0.527)
}

#trash{
    color: rgb(238, 69, 69);
}

li{
    margin-bottom: 30px;
    box-shadow: inset 1px 1px 2px 1px rgba(42, 42, 42, 0.404);
    padding: 15px;
    border-radius: 4px;

}

#search, #records, #startYear, #endYear {
    box-shadow: inset 1px 1px 2px 1px rgba(42, 42, 42, 0.404);
    border-radius: 4px;
}

body{
    background-image: url("../images/nytfrontpage2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.blank{
    font-size: 20px;
    color: red;
}

label{
    font-size: 18px;
}